# 🐍 Arquivos do Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyc
*.pyo
.Python

# 📦 Dependências do Poetry
poetry.lock
.env
.venv/
venv/

# 🔬 Testes e relatórios do Pytest
htmlcov/
.coverage
*.cover
.cache/
pytest_cache/
nosetests.xml
coverage.xml
*.pytest_cache

# 🐳 Arquivos do Docker (se aplicável)
*.log
docker-compose.override.yml

# 🚀 Arquivos do Git e do Editor
*.swp
*~
.idea/
.vscode/
*.bak
.DS_Store
Thumbs.db

# 🛠 Arquivos temporários e de build
build/
dist/
*.egg-info/
*.manifest
*.spec
*.mypy_cache/

# ⚙️ Configurações Locais
config.yaml
settings.ini
secrets.toml

